<template>
  <div id="app">
    <ul class="btn">
      <li v-for="item in btn" :key="item.id" class="btn_box" :class="item.class">
        <div @click="hyouji($event)" :class="item.id">
          {{item.name}}
        </div>
      </li>
    </ul>
    <div class="ctn">
      <transition name="fade" appear>
        <div v-if="type === '01'" class="ctn_na" key="na01">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div v-else-if="type === '02'" class="ctn_na" key="na02">
          <h2>二度寝って気持ちい</h2>
          <p>.&emsp;&emsp;&emsp;∧∧&emsp;&emsp;&emsp;&emsp;むくり</p>
          <p>&emsp;&emsp;（*･ω･）&emsp; </p>
          <p>&emsp; ＿|&emsp;⊃／(＿＿_&emsp;&emsp;&emsp;&emsp; </p>
          <p>／&emsp;└-(＿＿＿_／ &emsp;&emsp;&emsp;&emsp; </p>
          <p>￣￣￣￣￣￣￣</p>
        </div>
        <div v-else-if="type === '03'" class="ctn_na" key="na03">
          <h2>セロ弾きのゴーシュ</h2>
          <p>ゴーシュはからだのかっこうねずみ館を大をつきあたっ音ただ。するとあんまりまじめましなという額ますた。くたくたたましのたはましまた野鼠の大丈夫屋のままをはしきりに下手だたて、そこまで狸できれがっものましだ。し過ぎおまえはゴーシュがいいでながら今夜のかっこうの川どもがむしっ第一勢どものかっかをありばいたた。</p>
        </div>
        <div v-else class="na" key="nae">
          Not A/B/C
        </div>
      </transition>
    </div>
  </div>
</template>
<script>
export default {
  data(){
    return{
      btn:[
        {class:"bb01","id":"01",name:"Lorem ipsum"},
        {class:"bb02","id":"02",name:"（*･ω･）"},
        {class:"bb03","id":"03",name:"宮沢賢治"}
      ],
      type: "01",
      isActive: true,

    }
  },
  methods:{
    hyouji(event){
      if(this.type != event.target.className){
        let box = document.querySelectorAll('.btn_box')
        for (var i = 0; i < box.length; ++i) {
          box[i].removeAttribute('data-state')
        }
        this.type = event.target.className
        event.target.parentNode.setAttribute('data-state', 'active')
      }
    }
  },
  mounted(){
    document.querySelector(".bb01").setAttribute('data-state', 'active')
  }
}
</script>


<style lang="scss">
*{
  margin: 0; padding: 0;
}
ul,li{
  list-style: none;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  .btn{
    display: flex;
    justify-content: center;
    &_box{
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 5px; margin: 20px;
      height: 60px; width: 120px;
      border: 1px double #2c3e50;
      color: #2c3e50;
      transition: all .5s ease;
      div{
        width: 100%; height: 100%;
        text-align: center;
        margin: 0 auto;
        display: flex;
        align-items: center;
      }
      &[data-state="active"]{
        background: #2c3e50;
        color: white;
      }
    }
  }
  .ctn{
    position: relative;
    max-width: 360px;
    margin: 10px auto;
    background: #90b6dd;
    &_na{
      padding: 20px 10px;
      h2{
        margin-bottom: 10px;
      }
    }
  }
}
.fade-enter {
  transform: translate(0,-20px);
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter-active {
  transition: all 1s 0.5s ease;
}
.fade-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.fade-leave-to {
  transform: translate(0,40px);
  opacity: 0;
}
.fade-leave-active {
  transition: all .5s 0s ease;
}
</style>